.container {
    width: 100%;
    display: flex;
}

.content {
    height: 100vh;

    max-width: 960px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;  
   
}

.content section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;

    margin-top: 5rem;
    
}

@media (max-width: 960px) {
    .content section {
        grid-template-columns: 1fr;
        margin-top: 3rem;
    }
}

